@model IEnumerable<ApplicationType>

@{
    ViewData["Title"] = "Application";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Application list</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="ApplicationType" asp-action="CreateApplicationType" class="btn btn-primary">
                Create new application type
            </a>
        </div>
    </div>
    <br/>
    @if (Model.Any())
    {
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
            <tr>
                <th>
                    Application Name
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width="65%">@obj.Name</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>No application exist</p>
    }
</div>