@model IEnumerable<ASP.NET_Core_MVC_Basic.Models.CategoryModel>

@{
    ViewData["Title"] = "Category";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category list</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                Create new category
            </a>
        </div>
    </div>
    <br/>
    @if (Model.Any())
    {
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>
                        Category ID
                    </th>
                    <th>
                        Category Name
                    </th>
                    <th>
                        Display Order
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td width ="15%">@obj.CategoryId</td>
                    <td width="45%">@obj.CategoryName</td>
                    <td width="40%">@obj.DisplayOrder</td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>No category exist</p>
    }
</div>